.titulo {
    text-align: left;
    color: rgb(0, 174, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.head{
    background-color: #D0D0D0;
    display: flex;
}